.header-color {
background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

-webkit-overflow-scrolling: touch;


}

.landing-grid,.about-grid
{background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

}


.landing-grid{
  padding-top: 100px;
}
.avatar-img {
  height: 30em;
  padding-top: 5em;
  padding-bottom: 2em;
}

.banner-text{
  background-color: black;
  opacity: .6;
  width: 57%;
  margin: auto;
  border-radius: 10px;
}


.banner-text h1{
   color: white;
   font-size: 66px;
   font-weight: bold;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid{
  display: flex;
  margin-top: 5px;
}


/*About page CSS*/


.about-body{
  position: absolute;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.about-headline{
  color: white;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.about-headline h1{
 font-size: 7vh;
 margin-top: 5rem;
}


.about-text{
  padding-top: 15px;
  padding-bottom: 15px;
}
.about-text{
  background-color: black;
  opacity: .6;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: justify;
}
.about-text h3{
 color: white;
}

/*Contact Page CSS*/

.contact-body{
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-avatar{
  height: 350px;
  text-align: center;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  margin-top: 1em;
}

.contact-grid p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  width: '75%';
  margin: 'auto';
  padding-top: '1em';
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 30%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}




/*Resume page CSS*/

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}
.resume-right-col h2 {
  padding: 8px;
  margin: 8px;
}

.resume-avatar{
  text-align: center;
  justify-content: center;

}
.resume-avatar img{
  height: 400px;
}

.animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
}

.subClasses{
  margin-bottom: 0;
  margin-left: 3rem;
}

/* Transitions */


.page-content {
  position: absolute;
  left: 0;
  right: 0;
}


/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}


@media (max-width: 475px) {
    .banner-text{
    width: 100%;
}

.resume-avatar{
  width: 100%;
} 
 .contact-grid{
padding:0;
}

.contact-avatar{
  height: 200px;
  width: 200px;
}

.contact-list {
  width: 100%;
}

.contact-list li{
  margin:0;
  padding: 0;
  text-align: left;
} 

.contact-list i{
  padding-right:2vh;
  text-align: left;
} 


 .contact-info span{
  font-size: 15px;
  width: 100%;
}

@media only screen and (max-width: 480px)  {

  .landing-grid{
    padding-top: 0px;
  }
  .avatar-img {
    height: 50%;
    padding-top: 5em;
    padding-bottom: 2em;
  }
  .landing-grid h1{
    font-size: 40px;
 }
  .banner-text{
    margin-top: 0;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    height: 100%;
  }
  .about-text{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 1.5em;
    margin: 0;
    
  }
  .about-text h3 {
      font-size: 20px;
  }

  .resume-avatar img{
    height: 200px;
  }

  .resume-right-col {
    width: 100%!important;
}
  .resume-right-col h2{
    padding: 12px;
  }
  .contact-grid{
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-avatar{
    width: 200px;
    height: 200px
  }
  .contact-info span{
    font-size: 1.4rem;
  }
  .contact-text{
    font-size: 1.4rem;
  }

}

}

